:root {
  --card-color: #6c757d;
}

.App {
  margin: 5%;
}

.card {
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.card-color {
  color: var(--card-color);
}

.card-body {
  padding: 0 1rem 1rem;
  line-height: 0rem;
}

h5 {
  font-size: 1.25rem;
}

h6{
  font-size: 1rem;
}

p {
  margin: 0 0 1rem;
}